__pycache__/*.cpython-310.pyc
HW_10/console_bot/console_bot/__pycache__/actions.cpython-310.pyc
HW_10/console_bot/console_bot/__pycache__/address_book.cpython-310.pyc
HW_10/console_bot/console_bot/__pycache__/informations.cpython-310.pyc
HW_10/console_bot/console_bot/__pycache__/input_error.cpython-310.pyc
HW_11/console_bot/console_bot/__pycache__/address_book.cpython-310.pyc
HW_11/console_bot/console_bot/__pycache__/actions.cpython-310.pyc
HW_11/console_bot/console_bot/__pycache__/informations.cpython-310.pyc
HW_11/console_bot/console_bot/__pycache__/input_error.cpython-310.pyc
